{% extends '@base.html' %}

{% block content %}

<div class="h-64">
    <div class="text-center animate__animated animate__fadeIn" style=""> 
        <h1 style="font-size: 10.5rem; color: white"> Meet the Team </h1>
    </div>
    <h1 class="ml-14 text-left animate__animated animate__fadeInLeft animate__delay-1s" style="font-size: 2rem; color: white"> <span style="color: #67C8FF">Durlea Andrei</span><a style="font-size: 1.25rem"> a.k.a. </a><span style="color: #67C8FF">Durly</span><a style="font-size: 1.25rem">: Frontend, Handling</a></h1>
    <h1 class="h-16 ml-14 text-left animate__animated animate__slideInLeft animate__delay-2s" style="font-size: 1rem; color: white">
            <a href = "mailto:andrei.durlea.telefon@gmail.com" class="px-2 fa-2xl fa-regular fa-envelope"></a>
            <a href = "https://www.instagram.com/andrei_durlea" class="px-2 fa-2xl fa-brands fa-instagram"></a>
            <a href = "https://github.com/AndyGooShooter" class="px-2 fa-2xl fa-brands fa-brands fa-github"></a>    
            {% comment %} <a href = "https://www.youtube.com/channel/UCQR8OSRpq7mcC__QrfN961A" class="fa-2xl fa-brands fa-brands fa-youtube"></a> {% endcomment %}
            <i onclick="alert('Andy <3#9551')"class="px-2 fa-2xl fa-brands fa-discord"></i>
    </h1>
    <h1 class="mr-14 text-right animate__animated animate__slideInRight animate__delay-1s" style="font-size: 2rem; color: white"> <span style="color: #67C8FF">Lazăr Dragoș</span><a style="font-size: 1.25rem"> a.k.a. </a><span style="color: #67C8FF">Lazăr</span><a style="font-size: 1.25rem">: Full-Stack, OpenCV</a></h1>
    <h1 class="h-16 mr-14 text-right animate__animated animate__slideInRight animate__delay-2s" style="font-size: 1rem; color: white">

            <a data-tooltip-target="tooltip-default" href = "mailto:dasidasi86@gmail.com" class="px-2 fa-2xl fa-regular fa-envelope">
                <div id="tooltip-default" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                Tooltip content
                <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </a>
            <!-- ai la "a" tag data-tooltip-target="tooltip-default" si in el divu ala -->
            <a data-tooltip-target="tooltip-default" href = "https://www.instagram.com/monsieurproductions" class="px-2 fa-2xl fa-brands fa-instagram">
                <div id="tooltip-default" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                Tooltip content
                <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </a>
            <a href = "https://github.com/MonsieurLazar" class="px-2 fa-2xl fa-brands fa-brands fa-github"></a>    
            <a href = "https://www.youtube.com/channel/UCQR8OSRpq7mcC__QrfN961A" class="px-2 fa-2xl fa-brands fa-brands fa-youtube"></a>
            <i onclick="alert('monsieurlazar#7882')"class="px-2 fa-2xl fa-brands fa-discord"></i>
    </h1>
    
    <h1 class="ml-14 text-left animate__animated animate__slideInLeft animate__delay-1s" style="font-size: 2rem; color: white"> <span style="color: #67C8FF">Maftei Andrei</span><a style="font-size: 1.25rem"> a.k.a. </a><span style="color: #67C8FF">Maf</span><a style="font-size: 1.25rem">: Concatenation, Numeration</a></h1>
    <h1 class="ml-14 text-left animate__animated animate__slideInLeft animate__delay-2s" style="font-size: 1rem; color: white"> <span style="color: white">&#60MAIL&#62 mafteiandreiiulian@gmail.com <p><a href = "https://www.instagram.com/maftei_andrei_2"/></a>&#60INSTAGRAM&#62 @maftei_andrei_2</p><p></p></h1>
    
    <h1 class="mr-14 text-right animate__animated animate__slideInRight animate__delay-1s" style="font-size: 2rem; color: white"> <span style="color: #67C8FF">Neculau Rareș</span><a style="font-size: 1.25rem"> a.k.a. </a><span style="color: #67C8FF">Rareș</span><a style="font-size: 1.25rem">: OpenCV, Symmetry Theory</a></h1>
    <h1 class="h-16 mr-14 text-right animate__animated animate__slideInRight animate__delay-2s" style="font-size: 1rem; color: white">
        <a href = "mailto:rares.neculau@gmail.com" class="fa-2xl fa-regular fa-envelope"></a>
        <a href = "https://www.instagram.com/rares.neculau" class="fa-2xl fa-brands fa-instagram"></a>
        <a href = "https://github.com/Smartyguy001" class="fa-2xl fa-brands fa-brands fa-github"></a>    
        <a href = "https://www.youtube.com/channel/UC6ivGVuE5kK5ZHIu02ZgwfA/featured" class="fa-2xl fa-brands fa-brands fa-youtube"></a>
        <i onclick="alert('Smartyguy001#3621')"class="fa-2xl fa-brands fa-discord"></i>
</h1>
    
    <h1 class="ml-14 text-left animate__animated animate__slideInLeft animate__delay-1s" style="font-size: 2rem; color: white"> <span style="color: #67C8FF">Moscaliuc Teodor</span><a style="font-size: 1.25rem"> a.k.a. </a><span style="color: #67C8FF">Red</span><a style="font-size: 1.25rem">: OpenCV, Devops</a></h1>
    <h1 class="ml-14 text-left animate__animated animate__slideInLeft animate__delay-2s" style="font-size: 1rem; color: white"> <span style="color: white">&#60MAIL&#62 teodormoscaliuc@gmail.com <p><a href = "https://www.instagram.com/o_mata_rosie"/></a>&#60INSTAGRAM&#62 @o_mata_rosie</p><p></p></h1>
</div>

{% endblock content %}

{% block background %}
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {  
    background-color: #001329;
    {% comment %} font-family: Arial; {% endcomment %}
}
{% comment %} <script>
    document.documentElement.style.setProperty('--animate-duration', '.5s');
</script> {% endcomment %}

{% comment %} .fade-in-text {
    font-size: 150px;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
} {% endcomment %}

{% endblock background %}

{% block nav4 %}
<a href="#" class="block py-2 pr-4 pl-3 text-white bg-sky-400 rounded md:bg-transparent md:text-sky-400 md:p-0 dark:text-white" aria-current="page">Contact</a>
{% endblock nav4 %}