{% extends '@base.html' %}

{% block content %}

<div class="h-64">
    <div class="pt-8 pb-2 text-center animate__animated animate__fadeIn" style=""> 
        <h1 style="font-size: 5rem; color: white"> Meet the Team </h1>
    </div>

    <h1 class="ml-14 text-left animate__animated animate__fadeInLeft animate__delay-0s" style="font-size: 2.15rem; color: white"> <span style="color: #67C8FF">Durlea Andrei</span><a style="font-size: 2rem"> a.k.a. </a><span style="color: #67C8FF">Durly</span><a style="font-size: 2rem"></a></h1>
    <h1 class="h-10 ml-14 text-left animate__animated animate__slideInLeft animate__delay-1s" style="font-size: 1.5rem; color: white"> Website Full-Stack Developer </h1>    
    <h1 class="h-10 ml-14 text-left animate__animated animate__slideInLeft animate__delay-1s" style="font-size: 1rem; color: white">
            <a data-tooltip-target="tooltip-default-durly-mail" href = "mailto:andrei.durlea.telefon@gmail.com" class="px-2 fa-2xl fa-regular fa-envelope">
                <div id="tooltip-default-durly-mail" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                    andrei.durlea.telefon@gmail.com
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </a>

            <a data-tooltip-target="tooltip-default-durly-insta" href = "https://www.instagram.com/andrei_durlea" class="px-2 fa-2xl fa-brands fa-instagram">
                <div id="tooltip-default-durly-insta" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                    @andrei_durlea
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </a>

            <a data-tooltip-target="tooltip-default-durly-github" href = "https://github.com/AndyGooShooter" class="px-2 fa-2xl fa-brands fa-github">
                <div id="tooltip-default-durly-github" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                    AndyGooShooter
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </a>    
            {% comment %} <a href = "https://www.youtube.com/channel/UCQR8OSRpq7mcC__QrfN961A" class="fa-2xl fa-brands fa-brands fa-youtube"></a> {% endcomment %}
            <a data-tooltip-target="tooltip-default-durly-discord" class="px-2 fa-2xl fa-brands fa-discord">
                <div id="tooltip-default-durly-discord" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                    AndyGS#9551
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </a> 
    </h1>


    <h1 class="mr-14 text-right animate__animated animate__slideInRight animate__delay-0s" style="font-size: 2.15rem; color: white"> <span style="color: #67C8FF">Lazăr Dragoș</span><a style="font-size: 2rem"> a.k.a. </a><span style="color: #67C8FF">Lazăr</span><a style="font-size: 2rem"></a></h1>
    <h1 class="h-10 mr-14 text-right animate__animated animate__slideInRight animate__delay-1s" style="font-size: 1.5rem; color: white"> Website Full-Stack Developer </h1> 
    <h1 class="h-10 mr-14 text-right animate__animated animate__slideInRight animate__delay-1s" style="font-size: 1rem; color: white">
            <a data-tooltip-target="tooltip-default-lazar-mail" href = "mailto:dasidasi86@gmail.com" class="px-2 fa-2xl fa-regular fa-envelope">
                <div id="tooltip-default-lazar-mail" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                    dasidasi86@gmail.com
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </a>
            
            <a data-tooltip-target="tooltip-default-lazar-insta" href = "https://www.instagram.com/monsieurproductions" class="px-2 fa-2xl fa-brands fa-instagram">
                <div id="tooltip-default-lazar-insta" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                    @monsieurproductions
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </a>
            <a data-tooltip-target="tooltip-default-lazar-github" href = "https://github.com/MonsieurLazar" class="px-2 fa-2xl fa-brands fa-brands fa-github">
                <div id="tooltip-default-lazar-github" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                    MonsieurLazar
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </a>    
            <a data-tooltip-target="tooltip-default-lazar-youtube" href = "https://www.youtube.com/channel/UCQR8OSRpq7mcC__QrfN961A" class="px-2 fa-2xl fa-brands fa-brands fa-youtube">
                <div id="tooltip-default-lazar-youtube" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                    Lazar Dragos George
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </a>
            <a data-tooltip-target="tooltip-default-lazar-discord" class="px-2 fa-2xl fa-brands fa-brands fa-discord" class="px-2 fa-2xl fa-brands fa-discord">
                <div id="tooltip-default-lazar-discord" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                    monsieurlazar#7882
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
            </a>
    </h1>
    

    <h1 class="ml-14 text-left animate__animated animate__slideInLeft animate__delay-0s" style="font-size: 2.15rem; color: white"> <span style="color: #67C8FF">Maftei Andrei</span><a style="font-size: 2rem"> a.k.a. </a><span style="color: #67C8FF">Maf</span><a style="font-size: 2rem"></a></h1>
    <h1 class="h-10 ml-14 text-left animate__animated animate__slideInLeft animate__delay-1s" style="font-size: 1.5rem; color: white"> Concatenation, Numeration </h1> 
    <h1 class="h-10 ml-14 text-left animate__animated animate__slideInLeft animate__delay-1s" style="font-size: 1rem; color: white">
        <a data-tooltip-target="tooltip-default-maf-mail" href = "mailto:mafteiandreiiulian@gmail.com" class="px-2 fa-2xl fa-regular fa-envelope">
            <div id="tooltip-default-maf-mail" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                mafteiandreiiulian@gmail.com
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </a>

        <a data-tooltip-target="tooltip-default-maf-insta" href = "https://www.instagram.com/maftei_andrei_2" class="px-2 fa-2xl fa-brands fa-instagram">
            <div id="tooltip-default-maf-insta" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                maftei_andrei_2
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </a>

        <a data-tooltip-target="tooltip-default-maf-github" href = "https://github.com/AndreiIulianMaftei" class="px-2 fa-2xl fa-brands fa-github">
            <div id="tooltip-default-maf-github" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                AndreiIulianMaftei
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </a>    

        <a data-tooltip-target="tooltip-default-maf-discord" class="px-2 fa-2xl fa-brands fa-discord">
            <div id="tooltip-default-maf-discord" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                Motanugrivei#8325
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </a>
    </h1>
        

    <h1 class="mr-14 text-right animate__animated animate__slideInRight animate__delay-0s" style="font-size: 2.15rem; color: white"><span style="color: #67C8FF">Neculau Rareș</span><a style="font-size: 2rem"> a.k.a. </a><span style="color: #67C8FF">Rareș</span><a style="font-size: 2rem"></a></h1>
    <h1 class="h-10 mr-14 text-right animate__animated animate__slideInRight animate__delay-1s" style="font-size: 1.5rem; color: white"> Algorithm Theorycrafting </h1> 
    <h1 class="h-10 mr-14 text-right animate__animated animate__slideInRight animate__delay-1s" style="font-size: 1rem; color: white">
        <a data-tooltip-target="tooltip-default-rares-mail" href = "mailto:rares.neculau@gmail.com" class="px-2 fa-2xl fa-regular fa-envelope">
            <div id="tooltip-default-rares-mail" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                rares.neculau@gmail.com
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </a>

        <a data-tooltip-target="tooltip-default-rares-insta" href = "https://www.instagram.com/rares.neculau" class="px-2 fa-2xl fa-brands fa-instagram">
            <div id="tooltip-default-rares-insta" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                rares.neculau
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </a>

        <a data-tooltip-target="tooltip-default-rares-github" href = "https://github.com/Smartyguy001" class="px-2 fa-2xl fa-brands fa-github">
            <div id="tooltip-default-rares-github" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                Smartyguy001#3621
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </a>    

        <a data-tooltip-target="tooltip-default-rares-youtube" href = "https://www.youtube.com/channel/UC6ivGVuE5kK5ZHIu02ZgwfA/featured" class="px-2 fa-2xl fa-brands fa-youtube">
            <div id="tooltip-default-rares-youtube" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                Rares Neculau
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </a>

        <a data-tooltip-target="tooltip-default-rares-discord" class="px-2 fa-2xl fa-brands fa-discord">
            <div id="tooltip-default-rares-discord" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                Smartyguy001#3621
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </a>
    </h1>
    

    <h1 class="ml-14 text-left animate__animated animate__slideInLeft animate__delay-0s" style="font-size: 2.15rem; color: white"> <span style="color: #67C8FF">Moscaliuc Teodor</span><a style="font-size: 2rem"> a.k.a. </a><span style="color: #67C8FF">Red</span><a style="font-size: 2rem"></a></h1>
    <h1 class="h-10 ml-14 text-left animate__animated animate__slideInLeft animate__delay-1s" style="font-size: 1.5rem; color: white"> Object Highlighting, DevOps </h1> 
    <h1 class="h-10 ml-14 text-left animate__animated animate__slideInLeft animate__delay-1s" style="font-size: 1rem; color: white"> 
        <a data-tooltip-target="tooltip-default-red-mail" href = "mailto:teodormoscaliuc@gmail.com" class="px-2 fa-2xl fa-regular fa-envelope">
            <div id="tooltip-default-red-mail" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                teodormoscaliuc@gmail.com
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </a>

        <a data-tooltip-target="tooltip-default-red-insta" href = "https://www.instagram.com/o_mata_rosie" class="px-2 fa-2xl fa-brands fa-instagram">
            <div id="tooltip-default-red-insta" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                o_mata_rosie
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </a>

        <a data-tooltip-target="tooltip-default-red-github" href = "https://github.com/RedKyet" class="px-2 fa-2xl fa-brands fa-github">
            <div id="tooltip-default-red-github" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                RedKyet
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </a>    

        <a data-tooltip-target="tooltip-default-red-discord" class="px-2 fa-2xl fa-brands fa-discord">
            <div id="tooltip-default-red-discord" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                RedKyet#6146
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
        </a>
    </h1>
</div>

{% endblock content %}

{% block hover %}
{% endblock hover %}

{% block background %}
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {  
    background-color: #001329;
    {% comment %} font-family: Arial; {% endcomment %}
}
{% comment %} <script>
    document.documentElement.style.setProperty('--animate-duration', '.5s');
</script> {% endcomment %}

{% comment %} .fade-in-text {
    font-size: 150px;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
} {% endcomment %}
{% endblock background %}

{% block nav4 %}
<a href="#" class="block py-2 pr-4 pl-3 text-white bg-sky-400 rounded md:bg-transparent md:text-sky-400 md:p-0 dark:text-white" aria-current="page">Contact</a>
{% endblock nav4 %}